<?php

namespace App\AppLink\ApiBundle\Controller;

use Symfony\Bundle\FrameworkBundle\Controller\AbstractController;
use Symfony\Component\Routing\Annotation\Route;
use App\AppLink\ApiBundle\Util\{{ name|capitalize }}\LoadList;

/**
 * Description of {{ name }} controller
 *
 * @author Linkus
 */
class {{ name|capitalize }}Controller extends AbstractController
{
    /**
     * Homepage of {{ name }}
     *
     * @Route("/{{ name|lower }}", name="api_{{ name|lower }}_homepage", methods="GET")
     *
     */
    public function indexAction()
    {
        return $this->render('@AppLinkApi/{{ name|capitalize }}/index.html.twig');
    }

    /**
     * Load List
     *
     * @Route("/{{ name|lower }}/loadList", name="api_{{ name|lower }}_loadList", methods="GET")
     *
     */
    public function loadListAction(LoadList $api)
    {
        return $api->loadList();
    }
}
