{{'{%'}} extends '@AppLinkApi/layout.html.twig' {{'%}'}}

{{'{%-'}} block content {{'%}'}}

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h1>Show {{ entityName }} entity #{{'{{'}} entity.id {{'}}'}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <table class="table table-hover">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{'{{'}} entity.id {{'}}'}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{{'{%-'}} endblock {{'%}'}}
