{{'{%'}} extends '@AppLinkApi/layout.html.twig' {{'%}'}}

{{'{%-'}} block content {{'%}'}}

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h1>Default Page for Entity {{ entityName }}</h1>
    </div>
</div>

{{'{#'}}
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group">
                {{'{%-'}} set attrs = ['id'] {{'%}'}}
                {{'{%-'}} for attr in attrs {{'%}'}}
                    {{'{{'}} knp_pagination_sortable(entities, attr|capitalize, 'a.'~attr, {sort : entities.isSorted('a.'~attr)}) {{'}}'}}
                {{'{%-'}} endfor {{'%}'}}
            </div>
            <div class="btn-group">
                &nbsp;&nbsp;&nbsp;&nbsp;
                <ul class="pagination">{{'{{'}} knp_pagination_render(entities) {{'}}'}} </ul>
            </div>
            <div class="btn-group">
                <span class="badge">{{'{{'}} entities.getTotalItemCount {{'}}'}}</span>
            </div>
        </div>
    </div>
</div>
{{'#}'}}

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                </tr>
            </thead>
            <tbody>
                {{'{%-'}} for entity in entities {{'%}'}}
                <tr>
                    <td>
                        <a href="{{'{{'}} path('api_{{ entityName }}_show', {'id': entity.id}) {{'}}'}}">{{'{{'}} entity.id {{'}}'}}</a>
                    </td>
                </tr>
                {{'{%-'}} endfor {{'%}'}}
            </tbody>
        </table>
    </div>
</div>

{{'{%-'}} endblock {{'%}'}}
