<?php

namespace App\AppLink\ApiBundle\Controller;

use Symfony\Bundle\FrameworkBundle\Controller\AbstractController;
use Symfony\Component\Routing\Annotation\Route;
use Symfony\Component\HttpFoundation\Request;
use App\AppLink\ApiBundle\Manager\{{ entityName }}Manager as ApiMng;

/**
 * Description of {{ entityName }} controller
 *
 * @author Linkus
 */
class {{ entityName }}Controller extends AbstractController
{
    /**
     * Index of {{ entityName }}
     *
     * @Route("/{{ entityName }}/{page}", name="api_{{ entityName }}_index", defaults={"page" = 1}, methods="GET", requirements={
     *  "page" = "\d+"
     * })
     *
     * @param Request $request
     */
    public function indexAction(ApiMng $mng, Request $request, $page)
    {
        $params = $request->query->all();

        $entities = $mng->findByOption([], [], 30)->getQuery()->getResult();

//        $qbEntities =$mng->findByOption([], [], 30);
//        $entities = $this->get('knp_paginator')->paginate(
//                $qbEntities, $page, 80, ['distinct' => false]
//        );

        return $this->render('@AppLinkApi/{{ entityName }}/index.html.twig', [
            'entities' => $entities
        ]);
    }

    /**
     * {{ entityName }} show
     *
     * @Route("/{{ entityName }}/show/{id}", name="api_{{ entityName }}_show", methods="GET", requirements={
     *  "id" = "\d+"
     * })
     *
     * @param int $id
     */
    public function showAction(ApiMng $mng, $id)
    {
        $entity = $mng->find($id);
        if (!$entity) {
            throw $this->createNotFoundException('Unable to found entity {{ entityName }} with id #'.$id);
        }

        return $this->render('@AppLinkApi/{{ entityName }}/show.html.twig', [
                    'entity' => $entity
        ]);
    }
}
