{{'{%'}} extends '@AppLinkApi/layout.html.twig' {{'%}'}}

{{'{%-'}} block content {{'%}'}}

{{'{#'}}
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="pull-right">
            {{'{{'}} include('@AppLinkApi/_App/breakButton.html.twig') {{'}}'}}
        </div>
    </div>
</div>
{{'#}'}}
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h1>Default Page for {{ name }}</h1>

        <hr />
        <h3>Inline form</h3>
        <form class="form-inline" action="{{'{{'}} path('api_{{ name|lower }}_loadList') {{'}}'}}" method="get">
            <div class="form-group">
                <label for="exampleInputName2">Name</label>
                <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
            </div>
            <div class="form-group">
                <label for="exampleInputP">Other Param</label>
                <input type="text" class="form-control" id="exampleInputP" placeholder="exampleInputP">
            </div>
            <div class="form-group">
                <input type="hidden" name="foo" value="bar"/>
            </div>
            <button type="submit" class="btn btn-default">Send ?foo=bar</button>
        </form>

        <hr />
        <h3>Horizontal form</h3>
        <form class="form-horizontal" action="{{'{{'}} path('api_{{ name|lower }}_loadList') {{'}}'}}" method="get">
            <div class="form-group">
                <label for="inputField3" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputField3" placeholder="Field">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Remember me
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input type="hidden" name="foo" value="bar2"/>
                    <button type="submit" class="btn btn-default">Send ?foo=bar2</button>
                </div>
            </div>
        </form>

    </div>
</div>
{{'{#'}}
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        {{'{{'}} include('@AppLinkApi/_App/logajax.html.twig') {{'}}'}}
    </div>
</div>
{{'#}'}}
{{'{%-'}} endblock {{'%}'}}
