<?php

namespace App\AppLink\ApiBundle\Util\{{ name|capitalize }};

use App\AppLink\ApiBundle\Util\BaseApi;
use App\AppLink\ApiBundle\Util\ApiInterface;

/**
* Description of {{ name }} - {{ className is defined ? className : 'LoadList' }}
 *
 * @author linkus
 */
class {{ className is defined ? className : 'LoadList' }} extends BaseApi implements ApiInterface
{

    /**
     * @var App\AppLink\ApiBundle\Tool\{{ name }}
     */
    protected $tool;

    /**
     * @var array params container
     */
    protected $p = [];

    public function __construct($tool_className)
    {
        $this->tool = new $tool_className;
    }

    /**
     * Configuration/Initialization
     *
     */
    public function init()
    {
        $this->setRedirect();
        $this->p['foo'] = $this->request->query->get('foo');

        # curl init
        // $this->setCurlConfig('set1');

        # Log Service
        //$this->log->setMethod('test_fct');
        //$this->log->add('[i,w,d,s]', $title, $content);

        # Parameters Service
        // $this->p['param1'] = $this->param->getParam('param_id');
    }

    public function {{ fctName is defined ? fctName : 'loadList' }}()
    {
        $this->init();
        $foo = $this->p['foo'];
        $this->flashMessage('success', '{{ name }} - {{ className is defined ? className : 'LoadList' }} created; Redirect: [ok]; Request: foo=['.$foo.']');
        return $this->getRedirect();
    }
}
