<?php

namespace App\AppLink\ApiBundle\Manager;

use Doctrine\Common\Persistence\ObjectManager;
use App\AppLink\ApiBundle\Service\App\ApiManagerModel;

/**
 * {{ entityName }}Manager
 *
 * This class manage operation on entity {{ entityName }}
 *
 * @author Linkus
 */

class {{ entityName }}Manager extends ApiManagerModel
{
    /**
     * @var Doctrine\Common\Persistence\ObjectManager
     */
    protected $om;

    /**
     * @var string
     */
    protected $class_entity;

    /**
     * @var App\AppLink\ApiBundle\Entity\{{ entityName }}Repository
     */
    protected $repository;

    public function __construct(ObjectManager $om, $class_entity)
    {
        $this->om = $om;
        $this->class_entity = $class_entity;
        $this->repository = $om->getRepository($class_entity);
    }

    /**
     * Create a new entity
     *
     * @return Entity
     */
    public function createEntity()
    {
        $class = $this->class_entity;
        $entity = new $class;

        return $entity;
    }
}
