<?php

namespace App\AppLink\ApiBundle\Entity;

use App\AppLink\ApiBundle\Service\App\ApiRepositoryModel as EntityRepository;

/**
 * {{ entityName }}Repository
 */
class {{ entityName }}Repository extends EntityRepository
{
}
