services:

    #
    #   {{ name }} Api services
    #

    api.{{ name|lower }}.loadList:
        class: App\AppLink\ApiBundle\Util\{{ name|capitalize }}\LoadList
        parent: applink.api.base
        arguments:
            - App\AppLink\ApiBundle\Tool\{{ name|capitalize }}

    App\AppLink\ApiBundle\Util\{{ name|capitalize }}\LoadList: '@api.{{ name|lower }}.loadList'
