services:

    api.{{ entityName }}.manager:
        class: App\AppLink\ApiBundle\Manager\{{ entityName }}Manager
        arguments:
            - "@doctrine.orm.default_entity_manager"
            - App\AppLink\ApiBundle\Entity\{{ entityName }}

    App\AppLink\ApiBundle\Manager\{{ entityName }}Manager: '@api.{{ entityName }}.manager'
