    api.{{ name|lower }}.{{ service_name }}:
        class: App\AppLink\ApiBundle\Util\{{ name|capitalize }}\{{ className }}
        parent: applink.api.base
        arguments:
            - App\AppLink\ApiBundle\Tool\{{ name|capitalize }}

    App\AppLink\ApiBundle\Util\{{ name|capitalize }}\{{ className }}: '@api.{{ name|lower }}.{{ service_name }}'
