<h3>
    {{ '{{' }} data.className~'::'~data.method {{ '}}' }} 
    <small><strong>[{{ '{{' }} data.type {{ '}}' }}]</strong>
        <a href="{{ '{{' }} data.entry.url|raw {{ '}}' }}" target="_blank">{{ '{{' }} data.entry.url|raw {{ '}}' }}</a> 
        {{ '{%' }} if data.type == 'static' {{ '-%}' }}
            |
            <a href="{{ '{{' }} path('applink_api_testUrlFile', {type: 'html', filename: data.entry.filename }) {{ '}}' }}" target="_blank">html</a> |
            <a href="{{ '{{' }} path('applink_api_testUrlFile', {type: 'raw', filename: data.entry.filename }) {{ '}}' }}" target="_blank">raw</a>
        {{ '{%' }} endif {{ '-%}' }}
    </small>
</h3>

{{ '{%-' }} if data.method == 'methodname1' {{ '%}' }}
<blockquote>Definition of the method</blockquote>
<table class="table table-bordered table-condensed table-hover table-striped">    
    <thead>
        <tr>
            <th>field</th>
            <th>field</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>field</td>
            <td>field</td>
        </tr>
    </tbody>
</table>
{{ '{%-' }} elseif data.method == 'methodname2' {{ '%}' }}
<blockquote>Definition of the method</blockquote>
<table class="table table-bordered table-condensed table-hover table-striped">    
    <tbody>
        <tr>
            <th>field</th>
            <td>{{ '{# {{ displayTestData(data.content, \'key\') }} #}' }}</td>
            <td>{{ '{# {{ assertType(data.content, \'key\', [\'string\', \'array\', \'sarray\', \'void\']) }} #}' }}</td>
            {{ '{# {{ assertEquals(data.id, data.content, \'key\', {
                \'id1\' : value1,
                \'id2\' : value2,
                \'id3\' : value3,
            }) }} #}' }}
        </tr>
    </tbody>
</table>
{{ '{%-' }} endif {{ '%}' }}