<?php

namespace App\AppLink\ApiBundle\Tool;

//use App\AppLink\ApiBundle\Tool\ToolDOM;

/**
 * {{ name }} tool
 * If you use DOMXML parser you can use ToolDOM hepler class
 *
 * @author linkus
 */
class {{ name|capitalize }}
{

//    protected $tdom;
//
//    public function __construct()
//    {
//        $this->tdom = new ToolDOM;
//    }

    /**
     * Example of initialisation
     *
     * @param string $html content
     * @param array|null $options
     *
     * @return array
     */
    public function getList($html, array $options = null)
    {
        \libxml_use_internal_errors(true);
        $dom = new \DOMDocument();
        $dom->loadHTML($html);
        $xpath = new \DOMXpath($dom);

        $data = [];

        // code ...

        \libxml_clear_errors();
        return $data;
    }


    # DOMXpath exemples:
    #
    # from source:
    # $xpath->query("//*/div[@id='page-submission']/table/tr/td/table[1][@class='mt']")->item(0);
    #
    # from elem:
    # $xpath->query(".//tr[2]/td[@class='alt1']/div/b/a", $elem);
    #
}
