<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{%- block title -%}Api{%- endblock -%}</title>
    <!-- meta -->
    <meta name="description" content="SiteBundle">
    <meta name="author" content="Linkus">
    <!-- icon -->
    {#-<link rel="shortcut icon" href="{{ asset('bundles/linkusapi/images/fanfiction.net__favicon.ico') }}">#}
    {%- block css %}

        <link rel="stylesheet" href="{{ asset('bundles/applinkapi/css/bootstrap.min.css') }}" type="text/css" media="screen">
        <link rel="stylesheet" href="{{ asset('bundles/applinkapi/css/main.css') }}" type="text/css" media="screen">

    {%- endblock %}
    {%- block js_lib %}

        {#FOSJsRouting#}
        {#        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>#}
        {#        <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>#}
        {#HInclude#}
        {#        <script type="text/javascript" src="{{ asset('bundles/linkusapi/js/hinclude.js') }}"></script>#}

        <script type="text/javascript" src="{{ asset('bundles/applinkapi/js/jquery-2.1.4.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/applinkapi/js/bootstrap.min.js') }}"></script>

    {%- endblock %}

</head>


<body>
{%- block menu %}

    {% include '@AppLinkApi/menu.html.twig' with {'route' : app.request.attributes.get('_route')} %}

{%- endblock %}

<div class="container-fluid">

    {% block content %}
    {% endblock %}
    <br/>
    <p class="text-center">

        {%- block footer %}
            <em>Linkus Api - 2016~2019</em>
        {%- endblock %}

    </p>
</div>

{%- block javascript %}

{%- endblock %}

</body>
</html>
