{%- if type == 'raw' %} 
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{- asset('bundles/applinkapi/css/solarized-dark.css') -}}" type="text/css"  media="screen">
        <script type="text/javascript" src="{{- asset('bundles/applinkapi/js/highlight.pack.js') -}}"></script>
        <script>hljs.initHighlightingOnLoad();</script> 
    </head>
    <body>
{%- endif %}
<style type="text/css">
    #superSwitchDisplayMode{
        position: fixed;
        top:5px;
        right: 5px;
        width:120px;
        border: 1px solid #333;
        background-color: rgba(204, 204, 204, 0.8);
        border-radius: 2px;
        padding: 2px;
        vertical-align: middle;
        text-align: center;
        color: #333;
        font-size: 20px;      
    }
    #superSwitchDisplayMode > a{
        color: #222;
        text-decoration: none;
        font-family: monospace;
        font-size: 20px;
    }
    body {
        background-color: #002B36;
    }
</style>
<div id="superSwitchDisplayMode">
    <a href="{{ path('applink_api_testUrlFile',{type: 'html', filename: filename }) }}">html</a> |
    <a href="{{ path('applink_api_testUrlFile',{type: 'raw', filename: filename }) }}">raw</a>
</div>
    
{% block content %}{% endblock %}

{%- if type == 'raw' %}
    </body>
</html>
{%- endif %}