{%- block menu %}

        <nav class="navbar navbar-inverse " role="navigation">
            <!-- Brand and toggle get grouped for better mobile display navbar-fixed-top-->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="">Site</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


                <ul class="nav navbar-nav">
                    <li {% if route == 'applink_api_homepage' -%}class="active"{%- endif -%}><a href="{{ path('applink_api_homepage') }}">Api</a></li>
                    {# Generated Link Link #}
                    {{ twigGenMenu(route) }}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li {% if route == 'applink_api_testUrl' -%}class="active"{%- endif -%}><a href="{{ path('applink_api_testUrl') }}">TestUrl</a></li>
                    <li {% if route == 'applink_api_testcURL' -%}class="active"{%- endif -%}><a href="{{ path('applink_api_testcURL') }}">Test cURL</a></li>

                    {%- if twigHasApiService('api.app.explorer') %}
                    <li {% if route == 'applink_api_explorer' -%}class="active"{%- endif -%}><a href="{{ path('applink_api_explorer') }}">Explorer</a></li>
                    {%- endif %}

                    {%- if twigHasApiService('api.app.parameter') %}
                    <li {% if route == 'applink_api_parameter' -%}class="active"{%- endif -%}><a href="{{ path('applink_api_parameter') }}">Parameter</a></li>
                    {%- endif %}

                    {%- if twigHasApiService('api.app.log') %}
                    <li {% if route == 'applink_api_log' -%}class="active"{%- endif -%}><a href="{{ path('applink_api_log') }}">Log</a></li>
                    {%- endif %}
                </ul>
            </div>
        </nav>

        {# usage: $this->get('session')->getFlashBag()->add('danger', 'parameters not valid'); #}
        {#  flashMessage #}

        <div id="flashMessages" class="container-fluid">
            {% if app.request.hasPreviousSession %} {# http://symfony.com/doc/current/session/avoid_session_start.html #}
            {%- for type, flashMessages in app.session.flashbag.all() -%}

            {%- for flashMessage in flashMessages -%}

            <div class="row">
                <div class="{#flashMessage#} col-md-8 alert col-md-offset-2 alert-{{ type }} alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    {{ flashMessage|raw }}
                </div>
            </div>

            {%- endfor -%}

            {%- endfor -%}
            {% endif %}
        </div>

{%- endblock %}
