{% for name, link in apiLink  %}
    <li {% if route == link -%}class="active"{%- endif -%}><a href="{{ path(link) }}">{{ name }}</a></li>
{% endfor %}

{% if dbLink is not empty %}
    <li><a class="disabled">|</a></li>
{% endif %}

{% for name, link in dbLink  %}
    <li {% if route == link -%}class="active"{%- endif -%}><a href="{{ path(link) }}">{{ name }}</a></li>
{% endfor %}
