{%- for file in files %}
{%- if loop.first %}
<a href="{{ path('applink_api_curlshowfile', { 'file': file}) }}" target="_blank" class="btn btn-link"><u>{{ file }}</u></a> <br />
{%- else %}
<a href="{{ path('applink_api_curlshowfile', { 'file': file}) }}" target="_blank" class="btn btn-link">{{ file }}</a> <br />
{%- endif %}

{%- endfor %}
