<a id="api_app_set_break" href="{{ path('applink_api_set_break') }}" class="btn btn-danger">Break</a>
<script type="text/javascript">
    $('#api_app_set_break').click(function (event) {
        event.preventDefault();
        var url = $(this).attr('href');
        if (typeof (url) === 'undefined') {
            return;
        }
        $.get(url, function (data) {
            console.log(data);
            if (data === 'Ok') {
                $('#api_app_set_break')
                        .removeClass('btn-danger')
                        .addClass('btn-success').html('Break (Send ok)');
            }
        });
    });
</script>