{% extends '@AppLinkApi/layout.html.twig' %}

{%- block content %}
<div class="row">
    <div class="col-sm-3">
        <h4>PHP <small>v {{ php_version}}</small></h4>
        <table class="table table-bordered table-condensed">
            <tbody>
                {%- for option, value in php %}
                <tr {% if option == 'max_execution_time'and value < 3600 -%}
                    class="danger" title="max_execution_time need hight value (> 3600)"
                    {%- endif -%}
                    >
                    <td>{{ option }}</td>
                    <td>{{ value }}</td>
                </tr>
                {%- endfor %}
            </tbody>
        </table>
        <h4>PHP Extensions</h4>
        <table class="table table-bordered table-condensed">
            <tbody>
                {%- for extension, version in php_ext %}
                <tr {% if version is same as(false) -%}
                    class="danger" title="extension {{ extension }} not loaded"
                    {%- endif -%}
                    >
                    <td>{{ extension }}</td>
                    <td>{{ version }}</td>
                </tr>
                {%- endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-sm-3">
        <h4>Synfony</h4>
        <table class="table table-bordered table-condensed">
            <tbody>
                {%- for option, value in s2ver.require %}
                <tr>
                    <td>{{ option }}</td>
                    <td>{{ value }}</td>
                </tr>
                {%- endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-sm-3">
        <h4>Lib</h4>
        <table class="table table-bordered table-condensed">
            <tbody>
                <tr>
                    <td>cURL Class</td>
                    <td>2.0</td>
                </tr>
                <tr>
                    <td>Encoding</td>
                    <td>2.0</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-3">
        <h4>Optional Service Loaded</h4>
        <table class="table table-bordered table-condensed">
            <tbody>
                {%- for service, isLoaded in services_app %}
                <tr class="{%- if isLoaded is same as(false) -%}danger{%- else -%}success{%- endif -%}">
                    <td>{{ service }}</td>
                </tr>
                {%- endfor %}
            </tbody>
        </table>
        <h4>Database</h4>
        <p class="lead text-info">
            {{ database_name }}
        </p>
    </div>
</div>

{%- endblock %}
