{% extends '@AppLinkApi/layout.html.twig' %}

{%- block content %}
<a name="index"></a>
<div name="index" class="row">
    <div class="col-md-10 col-md-offset-1">
        <ul>
            <li><h4><a href="#install">Installation</a></h4></li>
            <li><h4><a href="#console">Console</a></h4></li>
            <li>
                <h4>Services</h4>
                <ul>
                    <li><h4><a href="#break">Break</a></h4></li>
                    <li><h4><a href="#log">Log</a></h4></li>
                    <li><h4><a href="#param">Parameter</a></h4></li>
                    <li><h4><a href="#explorer">Explorer</a></h4></li>
                </ul>
            </li>
            <li><h4><a href="#testurl">Test URL</a></h4></li>
            <li><h4><a href="#testcurl">Test cURL</a></h4></li>
        </ul>

    </div>
</div>
<a name="install"></a>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h3>Installation <small><a href="#index">index</a></small></h3>

        <p>
            Copy <code>AppLink/ApiBundle</code> to <code>src/</code> folder.
        </p>
        <p>
            Update <u>AppKernel.php</u>:
        </p>
        <pre>
    //app/config/AppKernel.php
    public function registerBundles()
    {
        $bundles = [
            // ...
            new App\AppLink\ApiBundle\AppLinkApiBundle()
        ];
    }
        </pre>
        <p>
            Add Route:
        </p>
        <pre>
#app/config/routing.yml

#route for internal services
app_link_api_app:
    resource: "@AppLinkApiBundle/Controller/App"
    type:     annotation
    prefix:   /api

#route for your code
app_link_api:
    resource: "@AppLinkApiBundle/Controller"
    type:     annotation
    prefix:   /api
        </pre>
        <p>
            Configuration (optional) <br />
            You can add optional services:
        </p>
        <pre>
#app/config/config.yml

app_link_api:
    app:
        break: ~        #break any process in a loop
        log: ~          #log info in database
        </pre>
    </div>

</div>
<a name="console"></a>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h3>Console <small><a href="#index">index</a></small></h3>
        <table>
            <tr>
                <td><strong>linkus:api:add</strong>&nbsp;</td><td>Generate skeleton application</td>
            </tr>
            <tr>
                <td><strong>linkus:api:del</strong>&nbsp;</td><td>Delete an application</td>
            </tr>
            <tr>
                <td><strong>linkus:api:entity:add</strong>&nbsp;</td><td>Add an entity</td>
            </tr>
            <tr>
                <td><strong>linkus:api:entity:del</strong>&nbsp;</td><td>Delete an entity</td>
            </tr>
            <tr>
                <td><strong>linkus:api:export</strong>&nbsp;</td><td>Export an application</td>
            </tr>
            <tr>
                <td><strong>linkus:api:fct</strong>&nbsp;</td><td>Add a class to an api app</td>
            </tr>
        </table>
    </div>
</div>
<a name="break"></a>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h3>Break Service <small><a href="#index">index</a></small></h3>
        <p>
            <strong>Activation:</strong> <br />
            Add service <code>Break</code> in <u>config.yml</u>
        </p>
        <p>
            <strong>Usage:</strong> <br />
            Add the following code to the class:
        </p>
        <pre>

    //initialisation in controller
    $break = $this->container->get('api.app.break');
    $break->init();

    //initialisation in Util class
    $this->break->init();

    in loop:

    if($this->break->isBreakable(){
        // code for exit;
    }


        </pre>
        <p>Add the following code to the view:</p>
        <pre>
            {{ "{{ include('AppLinkApiBundle:_App:breakButton.html.twig') }}" }}
        </pre>
    </div>
</div>
<a name="log"></a>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h3>Log Service <small><a href="#index">index</a></small></h3>
        <p>
            <strong>Activation:</strong> <br />
            Add service <code>Log</code> in <u>config.yml</u>
        </p>
        <p>
            Update framework with: <br />
            <code>./bin/console doctrine:generate:entities --force</code>
        </p>

        <p>
            <strong>Usage:</strong> <br />
        </p>
        <pre>
    //initialisation in controller
    $log = $this->container->get('api.app.log');
    $log->setMethod('myMethod');

    //initialisation in Util class
    $this->log->setMethod('test_fct');

    //add an entry
    $this->log->add('[i,w,d,s]', $title, $content);
        </pre>
        <p>
            <strong>View:</strong> <br />
            Add the  following code to the view:
        </p>
        <pre>
            {{ "{{ include('AppLinkApiBundle:_App:logajax.html.twig') }}" }}
        </pre>
    </div>
</div>
<a name="param"></a>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h3>Parameters Service <small><a href="#index">index</a></small></h3>
        <p>
            <strong>Activation:</strong> <br />
            Add service <code>Parameter</code> in <u>config.yml</u>
        </p>
        <p>
            Update framework with: <br />
            <code>./bin/console doctrine:generate:entities --force</code>
        </p>
        <p>
            <strong>Usage:</strong> <br />
            In controller or Util class:
        </p>
        <pre>
    //controller
    $paramMng = $this->container->get('api.app.parameter');
    $paramMng->getParam($id);       //get param by id
    $paramMng->setParam($id, $val); //set param
    $paramMng->delParam($id);       //del param by id
    $paramMng->getParams($id);      //get all params

    //Util class
    $this->param->[method] //method are similar
        </pre>
        <p>

            you can display a parameter in view with the command:
        </p>
        <pre>
            {{ "{{ apiParam(keyParam) }}" }}
        </pre>
    </div>
</div>
<a name="explorer"></a>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h3>Explorer Service <small><a href="#index">index</a></small></h3>
        <p>
            <strong>Activation:</strong> <br />
            Add service <code>Explorer</code> in <u>config.yml</u>
        </p>
        <p>
            Add paths to the the parameter <code>api.app.explorer.paths</code>
            in <u>Resources/config/services_explorer.yml</u>:
        </p>
        <pre>
    parameters:
        api.app.explorer.paths:
            key1: '/path/to/folder/1/'
            key2: '/path/to/folder/2/'

        </pre>
    </div>
</div>
<a name="testurl"></a>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h3>Test URL <small><a href="#index">index</a></small></h3>
        <p>
            You can test a page for scraping data;
        </p>
        <p>
            <strong>Usage:</strong> <br />
            You can configure a tool in parameter <code>api.testUrl.cfg</code>
            in <u>Resources/config/apiBundle_cfg.yml</u>:
        </p>
        <pre>
    api.testUrl.cfg:
        namespace: App\AppLink\ApiBundle\Tool

        action:
            MyTool:                                         # className
                getList:                                    # 1st method
                    fileA:
                        title: title entry
                        filename: nameFile.html
                        url: http://www.source/ofthefile
                        info: what you want
                    fileB:
                        title: title 2nd entry
                        filename: nameFile.html
                        url: http://www.source/ofthefile
                        info: what you want
                getEntry:                                   # 2ndmethod
                    fileA:
                        title: title entry
                        filename: nameFile.html
                        url: http://www.source/ofthefile
                        info: what you want
                    fileB:
                        title: title 2nd entry
                        filename: nameFile.html
                        url: http://www.source/ofthefile
                        info: what you want
        </pre>
        <p>
            Files test are located in <u>HTMLtest</u> folder
        </p>
    </div>
</div>
<a name="testcurl"></a>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h3>Test cURL <small><a href="#index">index</a></small></h3>

        <p>
            You can test an url with configuration;
        </p>
        <p>
            <strong>Usage:</strong> <br />
            You can configure a tool in parameter <code>api.curl.cfg</code>
            in <u>Resources/config/apiBundle_cfg.yml</u>:
        </p>
        <pre>
        #key (e.g: setHeaderOut) are method name defined in <u>Lib/Curl/BaseCurl.php</u>

    firefox1:                              # firefox1 is the name of the configuration
        setHeaderOut:       true
        setHeaderResponse:  true
        setEncoding:        'gzip, deflate, br'
        setHttpheader:
            - 'Accept: text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8'
            - 'Accept-Language: fr,fr-FR;q=0.8,en-US;q=0.5,en;q=0.3'
            - 'DNT: 1'
        setUseragent:       Mozilla/5.0 (X11; Linux x86_64; rv:45.0) Gecko/20100101 Firefox/45.0
        </pre>
    </div>
</div>
{%- endblock %}
