{% extends '@AppLinkApi/layout.html.twig' %}


{% block title -%}{{parent()}} - Explorer Info{% endblock %}


{%- block content %}
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h1><small><a href="{{ path('applink_api_explorer_list', {'key': data['key']}) }}">Explorer</a></small> {{ data['name'] }}</h1>
{#        {{ dump(data) }}#}
        <table class="table">
            {%- for key, val in data %}

            {%- if key == 'stat' %}
            <tr>
                <th>size</th>
                <td>{{ val['size'] }}</td>
            </tr>
            <tr>
                <th>ctime</th>
                <td>{{ val['ctime'] }}</td>
            </tr>
            {%- else %}
            <tr><th>{{ key }}</th>
                <td>
                    {{ val }}
                </td>
            </tr>
            {%- endif %}

            {%- endfor %}
        </table>
    </div>
</div>

{%- endblock %}
