{% extends '@AppLinkApi/layout.html.twig' %}


{% block title -%}{{parent()}} - Explorer{% endblock %}


{%- block content %}
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h1>Explorer</h1>
        {%- if list is empty %}
        <h3 class="text-danger">List is empty</h3>
        {%- endif %}
        <table class="table">
            {%- for key, data in list %}
            <tr>
                <td>
                    <a href="{{ path('applink_api_explorer_list', {'key': key}) }}">{{ key }}</a>
                </td>
                <td class="text-{{ data['exist'] is same as (true) ? 'success': 'danger' }}">{{ data['path'] }}</td>
            </tr>
            {%- endfor %}
        </table>
    </div>
</div>

{%- endblock %}
