{% extends '@AppLinkApi/layout.html.twig' %}


{% block title -%}{{parent()}} - Explorer List{% endblock %}


{%- block content %}

{%- if data.exist is same as(false) %}
<div class="row">

    <div class="col-md-6 col-md-offset-1">
        <h3 class="text-danger">Path don't exist</h3>
    </div>
</div>
{%- else %}
<div class="row">
    <div class="col-md-4 col-md-offset-1">
        <h2>Explorer Path :: {{ key }} </h2>
    </div>
    <div class="col-md-6">
        <ol class="breadcrumb">
            {%- for part in data['pathex'] %}
            <li class="disabled"><a href="#">{{ part }}</a></li>

            {%- endfor %}
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div>
            <a href="{{ app.request.requestUri }}" class="btn btn-success">Reload</a>
        </div>

        <table class="table">
            <thead>
                {% set ndir = params.direction == 'desc' ? 'asc': 'desc' %}
                <tr>
                    <th></th>
                    <th>
                        <a href="{{ path('applink_api_explorer_list', {'key': key, 'sort': 'name'}) }}">Name</a>
                        {%- if params.sort == 'name' %}
                        <a href="{{ path('applink_api_explorer_list', {'key': key, 'sort': 'name', 'direction': ndir}) }}">
                            <span class="glyphicon glyphicon-arrow-{{ params.direction == 'desc' ? 'up': 'down' }}" aria-hidden="true"></span>
                        </a>
                        {%- endif %}
                    </th>
                    <th>
                        <a href="{{ path('applink_api_explorer_list', {'key': key, 'sort': 'size'}) }}">Size</a>
                        {%- if params.sort == 'size' %}
                        <a href="{{ path('applink_api_explorer_list', {'key': key, 'sort': 'size', 'direction': ndir}) }}">
                            <span class="glyphicon glyphicon-arrow-{{ params.direction == 'desc' ? 'up': 'down' }}" aria-hidden="true"></span>
                        </a>
                        {%- endif %}
                    </th>
                    <th>
                        <a href="{{ path('applink_api_explorer_list', {'key': key, 'sort': 'date'}) }}">Date</a>
                        {%- if params.sort == 'date' %}
                        <a href="{{ path('applink_api_explorer_list', {'key': key, 'sort': 'date', 'direction': ndir}) }}">
                            <span class="glyphicon glyphicon-arrow-{{ params.direction == 'desc' ? 'up': 'down' }}" aria-hidden="true"></span>
                        </a>
                        {%- endif %}
                    </th>
                </tr>
            </thead>
            <tbody>
                {%- for id, file in data['list'] %}
                <tr>
                    <td>
                        <form action="{{ path('applink_api_explorer_show') }}" method="post">
                            <input type="hidden" name="key" value="{{ key }}" />
                            <input type="hidden" name="name" value="{{ file['name'] }}" />
                            <input type="submit" class="btn btn-xs btn-info" value="go" />
                        </form>
                    </td>
                    <td>
                        {{ file['name'] }}
                    </td>
                    <td>
                        {{ file['size'] }}
                    </td>
                    <td>
                        {{ file['date'] }}
                    </td>
                </tr>
                {%- endfor %}
            </tbody>
        </table>

    </div>
</div>
{%- endif %}
{%- endblock %}
