{% extends '@AppLinkApi/layout.html.twig' %}

{%- block content %}

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="well">
            Default Page
        </div>
        <a href="{{ path('applink_api_config') }}">Config</a> |
        {#<a href="{{ path('applink_api_doc') }}">Doc</a>#}
    </div>
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
    <s>remove SimpleHtmlDom from config</s> <br>
    <s>testurl: button to reload a live version</s><br>
    <s>add exist metod in parameter service</s> <br>
    correction break service method exemple in doc (html ??? )<br>
    <s>curltest = allow option to delete downloaded file</s><br>
    <s>correction of "AppLink\ApiBundle\Tool\Exh" in Util</s><br>
    <s>update Log truncate fct for Mysql/sqLITE</s> <br>
    <s>change method name in model manager (ex: flushEm to flush)</s> <br>
    <s>update command name (linkus:api:... to applink:api:...)</s> <br>
    <s>ApiRepositoryModel, change field identifier ex: $qb->setParameter(':'.$f, $value); ==> $qb->setParameter(':'.uniqid($f), $value);</s> <br>
    <s>lib/Curl/Curl: add method isRedirect()</s> <br>
    change flashMessage manager in util service <br>
        2019 02 12: use autowiring to load api scrapper and manager
    </div>
</div>
{%- endblock %}
