{% extends '@AppLinkApi/layout.html.twig' %}

{% block title -%}{{parent()}} - Log{% endblock %}


{%- block content %}
{#{{dql}}#}
<div class="row">
    <div class="col-md-6 col-md-offset-1">
        <h1>Log</h1>
        <h3>count: {{ count }}</h3>
    </div>

    <div class="col-md-4">
        <div class="pull-right">
            <form action="{{ path('applink_api_log_truncate') }}" method="post">
                <input type="submit" class="btn btn-danger btn-lg" value="Clear"/>
            </form>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with navigation options">
            <div class="btn-group" role="group" aria-label="Group with prev-nex buttons">
                {%- if prev is not null %}
                <a class="btn btn-info"
                   href="{{ path('applink_api_log', {'page': prev, 'method': params.method, 'type': params.type, 'title': params.title}) }}">
                    prev
                </a>
                {%- else %}
                <a class="btn btn-info disabled" href="#">prev</a>
                {%- endif %}
                {%- if next is not null %}
                <a class="btn btn-info"
                   href="{{ path('applink_api_log', {'page': next, 'method': params.method, 'type': params.type, 'title': params.title}) }}">
                    next
                </a>
                {%- else %}
                <a class="btn btn-info disabled" href="#">next</a>
                {%- endif %}
            </div>
            <div class="btn-group" role="group" aria-label="Types buttons">
                <a class="btn btn-info text-info {% if params.type == 'info' -%}active{%- endif %}"
                   href="{{ path('applink_api_log', { 'type': 'info', 'method': params.method, 'title': params.title }) }}">
                    Info
                </a>
                <a class="btn btn-info text-warning {% if params.type == 'warning' -%}active{%- endif %}"
                   href="{{ path('applink_api_log', { 'type': 'warning', 'method': params.method, 'title': params.title }) }}">
                    Warning
                </a>
                <a class="btn btn-info text-success {% if params.type == 'success' -%}active{%- endif %}"
                   href="{{ path('applink_api_log', { 'type': 'success', 'method': params.method, 'title': params.title }) }}">
                    Success
                </a>
                <a class="btn btn-info text-danger {% if params.type == 'danger' -%}active{%- endif %}"
                   href="{{ path('applink_api_log', { 'type': 'danger', 'method': params.method, 'title': params.title }) }}">
                    Danger
                </a>
                <a class="btn btn-info"
                   href="{{ path('applink_api_log', { 'method': params.method, 'title': params.title }) }}">
                    All
                </a>
            </div>
            <div class="btn-group" role="group" aria-label="Search in method input">
                <form class="form-inline" action="{{ path('applink_api_log') }}" method="get">
                    <div class="form-group">
                        {%- if params.type is not null -%}<input type="hidden" name="type" value="{{ params.type }}"/>{%- endif -%}
                        <input title="method" type="text" name="method" class="form-control" value="{{ params.method }}" placeholder="method">
                    </div>
                </form>
            </div>
            <div class="btn-group" role="group" aria-label="Search in title input">
                <form class="form-inline" action="{{ path('applink_api_log') }}" method="get">
                    <div class="form-group">
                        {%- if params.type is not null -%}<input type="hidden" name="type" value="{{ params.type }}"/>{%- endif -%}
                        {%- if params.type is not null -%}<input type="hidden" name="method" value="{{ params.method }}"/>{%- endif -%}
                        <input title="title" type="text" name="title" class="form-control" value="{{ params.title }}" placeholder="title">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <table class="table table-striped table-hover applin-log-table">
            <thead>
                <tr>
                    <th>id</th>
                    <th>date</th>
                    <th>setmethod</th>
                    <th>title</th>
                    <th>content</th>
                </tr>
            </thead>
            <tbody>
                {%- for entity in entities %}
                <tr class="{{ entity.type }}">
                    <td>{{ entity.id }}</td>
                    <td>
                        <time title="{{ entity.insertedAt|date('d/m/Y H:i:s') }}" datetime="{{ entity.insertedAt|date('Y-m-d H:i:s') }}">
                            {{ entity.insertedAt|date('H:i:s') }}
                        </time>
                    </td>
                    <td>{{ entity.setMethod }}</td>
                    <td>{{ entity.title }}</td>
                    <td><small>{{ entity.Plog }}</small></td>
                </tr>
                {%- endfor %}
            </tbody>
        </table>
    </div>
</div>
{%- endblock %}
