<div id="logajaxview"></div>
<script type="text/javascript">
    $(function () {
        $.get("{{ path('applink_api_logajax') }}", function (data) {
            $("#logajaxview").html(data);
        });

        $('#logajaxview').on('click', 'a:not(.btn-link)', function (e) {
            e.preventDefault();
            $.get($(this).prop('href'), function (data) {
                $("#logajaxview").html(data);
            });
        });

        $('#logajaxview').on('submit', 'form', function (e) {
            e.preventDefault();
            $.ajax({
                url: $(this).prop('action'),
                data: $(this).serialize(),
                method: 'GET'
            }).done(function (data) {
                $("#logajaxview").html(data);
            });
        });
    });
</script>
