{% extends '@AppLinkApi/layout.html.twig' %}

{% block title -%}{{parent()}} - Parameters{% endblock %}


{%- block content %}

<div class="row">
    <div class="col-md-6 col-md-offset-3">

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Key</th>
                    <th>Val</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                {%- for key, val in params %}
                <tr>
                    <td>{{ key }}</td>
                    <td>{{ val }}</td>
                    <td>
                        <form class="form-horizontal pull-right" action="{{ path('applink_api_parameter_del') }}" method="post">
                            <input type="hidden" name="_method" value="DELETE" />
                            <input type="hidden" name="id" value="{{ key }}" />
                            <button type="submit" class="btn btn-sm btn-danger">Del</button>
                        </form>
                    </td>
                </tr>
                {%- endfor %}
            </tbody>
        </table>
        <table style="width:100%">
            <tbody>
                <tr>
                    <td>
                        <form class="form-horizontal" action="{{ path('applink_api_parameter_add') }}" method="post">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <input type="text" name="id" />
                                    <input type="text" name="val" />
                                    <button type="submit" class="btn btn-primary">Add</button>
                                </div>
                            </div>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{%- endblock %}
