{% extends '@AppLinkApi/layout.html.twig' %}

{% block title -%}{{parent()}} - cURL config{% endblock %}


{%- block content %}
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h1>cURL configuration</h1>
        {%- for name, cfg in data %}
        <h2>{{ name }}</h2>
        <table class="table table-bordered table-condensed">
            <tbody>
                {%- for method, value in cfg %}
                <tr>
                    <th>{{ method }}:</th>
                    <td>
                        {%- if value is iterable %}
                        <table class="table table-condensed">
                            <tbody>
                                <tr>
                                    <td colspan="2">&nbsp;</td>
                                </tr>
                                {%- for k, v in value %}
                                <tr>
                                    <th>{{ k }}:</th>
                                    <td><code>{{ v }}</code></td>
                                </tr>
                                {%- endfor %}
                            </tbody>
                        </table>
                        {%- else %}
                        <code>{{ value }}</code>
                        {%- endif %}
                    </td>
                </tr>
                {%- endfor %}

            </tbody>
        </table>
        {%- endfor %}
    </div>
</div>
{%- endblock %}
