{% extends '@AppLinkApi/layout.html.twig' %}

{% block title -%}{{parent()}} - Test cURL show files {% endblock %}

{%- block content %}

{% include 'AppLinkApiBundle:_App:_show_curl_files.html.twig' %}

{%- endblock %}
