{% extends '@AppLinkApi/layout.html.twig' %}

{% block title -%}{{parent()}} - tool config{% endblock %}


{%- block content %}
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h1>Tool configuration</h1>
        <h2>Tool namespace: <code>{{ data.namespace }}</code></h2>

        {%- for class, methods in data.action %}
        <h3>{{ class }} <small>{{ data.namespace }}\{{ class }}</small></h3>
        <table class="table table-bordered table-condensed">
            <tbody>
                {%- for method, entries in methods %}
                <tr>
                    <th>{{ method }}</th>
                    <td>
                        <table class="table table-bordered table-condensed">
                            <tbody>
                                {%- for name, infos in entries %}
                                <tr>
                                    <td>{{ name }}</td>
                                    <td>
                                        <span style="width:60px;display: inline-block;">title:</span> <code>{{ infos.title }}</code><br />
                                        <span style="width:60px;display: inline-block;">filename:</span> <code>{{ infos.filename }}</code><br />
                                        <span style="width:60px;display: inline-block;">url:</span> <code>{{ infos.url }}</code><br />
                                        <span style="width:60px;display: inline-block;">info:</span> <code>{{ infos.info }}</code><br />
                                    </td>
                                </tr>
                                {%- endfor %}
                            </tbody>
                        </table>
                    </td>
                </tr>
                {%- endfor %}
            </tbody>
        </table>
        {%- endfor %}
    </div>
</div>
{%- endblock %}
