{% extends '@AppLinkApi/layout.html.twig' %}

{% block title -%}{{ parent() }} - Test cURL{% endblock %}


{%- block content %}
    <div class="row">
        <div class="col-xs-1">
            <h3>cURL</h3>
        </div>
        <div class="col-xs-2">
            <div class="pull-right">
                <ul id="myHtmlTabs" class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#FormGet" aria-controls="Html" role="tab" data-toggle="tab">Get</a></li>
                    <li role="presentation"><a href="#FormPost" aria-controls="Raw" role="tab" data-toggle="tab">Post</a></li>
                    <li role="presentation"><a href="#FormDl" aria-controls="Raw" role="tab" data-toggle="tab">DL</a></li>
                </ul>
            </div>
        </div>
        <div class="col-xs-9">
            <div class="tab-content" style="min-height:72px;">
                <div role="tabpanel" class="tab-pane active" id="FormGet">
                    <form action="{{ path('applink_api_testcURL') }}" method="post">
                        <div class="row">
                            <div class="col-xs-6">
                                <input type="text" class="form-control" id="urlCurl" name="url" value="{{ url }}" placeholder="Url...">
                            </div>
                            <div class="col-xs-2">
                                <select name="config_set" class="form-control" id="">
                                    {%- for cfg in configs %}
                                        <option value="{{ cfg }}" {% if cfg == config_set %}selected{% endif %}>{{ cfg }}</option>
                                    {%- endfor %}
                                </select>
                            </div>
                            <div class="col-xs-2">
                                <button type="submit" name="method" value="get" class="btn btn-info">GET (raw)</button>
                                <button type="submit" name="method" value="gethtml" class="btn btn-info">GET ($html)</button>
                            </div>
                            <div class="col-xs-2">
                                <a href="{{ path('applink_api_curlConfig') }}" class="btn btn-link">config</a>
                            </div>
                        </div>
                    </form>
                </div>
                <div role="tabpanel" class="tab-pane" id="FormPost">
                    <form action="{{ path('applink_api_testcURL') }}" method="post">
                        <div class="row">
                            <div class="col-xs-6">
                                <input type="text" class="form-control" id="urlCurl" name="url" value="{{ url }}" placeholder="Url...">
                            </div>
                            <div class="col-xs-2">
                                <select name="config_set" class="form-control" id="">
                                    {%- for cfg in configs %}
                                        <option value="{{ cfg }}" {% if cfg == config_set %}selected{% endif %}>{{ cfg }}</option>
                                    {%- endfor %}
                                </select>
                            </div>
                            <div class="col-xs-2">
                                <button type="submit" name="method" value="post" class="btn btn-info">POST (raw)</button>
                                <button type="submit" name="method" value="posthtml" class="btn btn-info">POST ($html)</button>
                            </div>
                            <div class="col-xs-2">
                                <a href="{{ path('applink_api_curlConfig') }}" class="btn btn-link">config</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <br/>
                                <input type="text" class="form-control" id="urlCurl" name="params" value="{{ params }}" placeholder="params as: foo=bar;b1=b2;">
                            </div>
                        </div>
                    </form>
                </div>
                <div role="tabpanel" class="tab-pane" id="FormDl">
                    <form action="{{ path('applink_api_testcURL') }}" method="post">
                        <div class="row">
                            <div class="col-xs-6">
                                <input type="text" class="form-control" id="urlCurl" name="url" value="{{ url }}" placeholder="Url... Download file">
                            </div>
                            <div class="col-xs-2">
                                <select name="config_set" class="form-control" id="">
                                    {%- for cfg in configs %}
                                        <option value="{{ cfg }}" {% if cfg == config_set %}selected{% endif %}>{{ cfg }}</option>
                                    {%- endfor %}
                                </select>
                            </div>
                            <div class="col-xs-2">
                                <button type="submit" name="method" value="dl" class="btn btn-info">Download</button>
                            </div>
                            <div class="col-xs-2">
                                <a href="{{ path('applink_api_curlConfig') }}" class="btn btn-link">config</a>
                                <br/>
                                <a href="{{ path('applink_api_curlfiles') }}" class="btn btn-link">file</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
    <hr/>
    <div class="row">
        <div class="col-md-6">
            <h4>getDefaultOpt()</h4>
            <p>{{ dump(getDefaultOpt) }}</p>

            <h4>getHeaderRequest()</h4>
            <p>{{ dump(getHeaderRequest) }}</p>

            <h4>getCurlError()</h4>
            <p>{{ dump(getCurlError) }}</p>

        </div>
        <div class="col-md-6">
            <h1>{{ getHttpCode }}</h1>

            <h4>getHeaderResponse()</h4>
            <p>{{ dump(getHeaderResponse) }}</p>

            <h4>getTransferInfo()</h4>
            <p>{{ dump(getTransferInfo) }}</p>

            <h4>getCookie()</h4>
            <p>{{ dump(getCookie) }}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h4>data</h4>
            {%- if showHtml != 'dl' %}
                <ul id="myHtmlTabs" class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#Raw" aria-controls="Raw" role="tab" data-toggle="tab">Raw</a></li>
                    {%- if showHtml is same as(true) %}
                        <li role="presentation"><a href="#Html" aria-controls="Html" role="tab" data-toggle="tab">Html</a></li>
                    {%- endif %}
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="Raw">
                        <pre>{{ html|e }}</pre>
                    </div>
                    {%- if showHtml is same as(true) %}
                        <div role="tabpanel" class="tab-pane" id="Html">{{ html|raw }}</div>
                    {%- endif %}
                </div>
            {%- else %}
                {{ render(path('applink_api_curlfiles', {'tpl': '_'})) }}
            {%- endif %}

        </div>

    </div>
{%- endblock %}
