{% extends '@AppLinkApi/layout_raw.html.twig' %}

{%- block content %}

{%- if type == 'html' %}

{{ data|raw }}

{%- else %}

        <pre><code class="html">{{ data|e }}</code></pre>

{%- endif %}

{%- endblock %}
