{% extends '@AppLinkApi/layout.html.twig' %}

{% block title -%}{{ parent() }} - Test Url{% endblock %}


{%- block content %}

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h1>
            Test Url
            <small><a href="{{ path('applink_api_toolConfig') }}" class="btn btn-link">config</a></small>
        </h1>
        <table class='table table-bordered'>
            <tbody>
                {%- for tool, methodNames in actions %}
                <tr>
                    <th>{{ tool }}</th>
                    <td>
                        {%- for methodName, entries in methodNames %}
                        {{ methodName }}:
                        {%- for name, info in entries %}
                        <a
                            href="{{ path('applink_api_testUrl', { 'static' : tool~'.'~methodName~'.'~name }) }}"
                            data-toggle="tooltip" data-placement="auto" class="js-tooltip-method"
                            title="
                            <span class='tttu'>title</span>: {{ info.title }} <br />
                            <span class='tttu'>url</span>: {{ info.url }} <br />
                            <span class='tttu'>file</span>: {{ info.filename }} <br />
                            <span class='tttu'>info</span>: {{ info.info }} <br />"
                            >
                            {{ name }}
                        </a>
                        {% if loop.last %}|{% endif %}
                        {%- endfor %}
                        {%- endfor %}
                    </td>
                </tr>
                {%- endfor %}
                <tr>
                    <td colspan="2">
                        <form action="{{ path('applink_api_testUrl') }}" class="form-horizontal" role="form" method="post">
                            <div class="row">
                                <div class="col-md-2 ">
                                    <select name="method" class="form-control">
                                        <option value="">Method</option>
                                        {%- for className, methodNames in methods %}
                                        <optgroup label="{{ className }}">
                                            {%- for methodName in methodNames %}
                                            {% set selected = params['method'] == methodName and params['className'] == className ? 'selected' : '' %}
                                            <option value="{{ className~'.'~methodName }}" {{ selected }}>{{ methodName~'()' }}</option>
                                            {%- endfor %}
                                        </optgroup>
                                        {%- endfor %}
                                    </select>
                                </div>
                                <div class="col-md-2 ">
                                    <select name="curlCfg" class="form-control">
                                        {%- for cfgCurlTitle in cfgCurlTitles %}
                                        <option value="{{ cfgCurlTitle }}" {{ params['curlCfg'] == cfgCurlTitle ? 'selected' : '' }}>{{ cfgCurlTitle }}</option>
                                        {%- endfor %}
                                    </select>
                                </div>
                                <div class="col-md-7">
                                    <input type="url" name="url" value="{{ params['url'] }}" class="form-control" placeholder="https://www.url.com/...">
                                </div>
                                <div class="col-md-1">
                                    <button type="submit" class="btn btn-default">Load</button>
                                </div>

                            </div>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>



<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <hr />
        {%- if data.content is defined %}
        {{ dump(data.content) }}
        {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            {%- if data is not null %}
            {% include '@AppLinkApi/'~data.className~'/_test.html.twig' %}
            {%- endif %}

        </div>
    </div>

    {%- endblock %}

    {%- block javascript %}
    {{ parent() }}
    <script type="text/javascript">
        $('.js-tooltip-method').tooltip({
            'html': true,
            'template': '<div class="tooltip" role="tooltip"><div class="tooltip-arrow"></div><div class="tooltip-inner tooltip-testURL"></div></div>'
        });
    </script>
    {%- endblock %}
